# General files
**/*.pdf

# Editor files
**/.vscode
**/*.code-workspace
**/.settings/
**/.vs/

# Python checkpoints, cache files, pytorch and JSON data, CSV logs, zip files for models
**/__pycache__/*
**/.ipynb_checkpoints/
**/*.pt
**/*.json
**/*.csv
**/*.zip

