# General files
**/*.pdf

# Editor files
**/.vscode
**/*.code-workspace
**/.settings/
**/.vs/

# Python checkpoints, pytorch and JSON data, CSV logs, zip files for models
**/.ipynb_checkpoints/
**/*.pt
**/*.json
**/*.csv
**/*.zip

